@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-size: x-large;    
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    
}
textarea{
    resize: none;
    font-family: 'Poppins', sans-serif;

}
/* NAVBAR */
nav{
    display: flex;
    justify-content: space-around;
    background-color: #6B4B2C;
    height: 90px;
}


a{
    color: white;
    text-transform: initial;
    text-decoration: none;
}

nav a{
    margin: 2%;
    font-size: xx-large;
}

nav a:hover{
    color:black;

}
/* NAVBAR */
/* IMAGES */
.nutellaimg{
    display: flex;
    justify-content: center;
    margin-bottom: -5%;
}
/* DISCUSSION OFF */
.adiscussion{
    color: #6B4B2C;
    display: flex;
    justify-content: center;
}
.adiscussion:hover{
    color: black;
}
.adiscussion1,.discussion,.msgprofil{
    display: flex;
    justify-content: center;
}
/* DISCUSSION OFF */
/* DISCUSSION ON */
.tableaucommentaire,.h2discussion{
    text-align: center;
}

.submit1{
transform: translateX(140px);
}
/* DISCUSSION ON */


/* MAIN */
#blocnutella {
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    margin-right: 3cm;

}

.textnutella {
    padding-top: 5%;
    padding-left: 4%;
}
.nutellavideo{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
/* MAIN */
/* FORMULAIRE */
.formulaire {
        color: black;
        text-align: center;
        margin: 0 35%;
        padding: 4% 0;
        margin-top: 4%;
    }
.formulaire2{
    display: flex;
    justify-content: center;
}
/* FORMULAIRE */

/* FOOTER */

#réseauxspotify {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
.réseaux {
    text-align: center;
    font-size: larger;
    }
    
    .facebook {
        margin-right: 1cm;
    }
    
    .twitter {
        margin-left: 1cm;
    }
    /* FOOTER */
    /* BUTTON */
    .submit,.submit1 {
        border-top: 1px solid #ffffff;
        background: #6b4c2e;
        background: -webkit-gradient(linear, left top, left bottom, from(#6b4b2f), to(#6b4c2e));
        background: -webkit-linear-gradient(top, #6b4b2f, #6b4c2e);
        background: -moz-linear-gradient(top, #6b4b2f, #6b4c2e);
        background: -ms-linear-gradient(top, #6b4b2f, #6b4c2e);
        background: -o-linear-gradient(top, #6b4b2f, #6b4c2e);
        padding: 7px 14px;
        -webkit-border-radius: 13px;
        -moz-border-radius: 13px;
        border-radius: 13px;
        -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
        -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
        box-shadow: rgba(0,0,0,1) 0 1px 0;
        text-shadow: rgba(0,0,0,.4) 0 1px 0;
        color: #ffffff;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        vertical-align: middle;
        }
     .submit:hover,.submit1:hover {
        border-top-color: #6b4c2c;
        background: #6b4c2c;
        color: black;
        }

/* BUTTON */

